# Исключаем все изображения
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp

# Исключаем все архивы
*.zip
*.zip*  
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
.hg
.ftpconfig
*.doc
*.docx
*.pdf
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch
core.*
# Исключаем папку bitrix
bitrix/

# Исключаем папку upload
upload/